<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Services, Factories &amp; Values</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
	<style>
		body { margin-top: 3em; }
		a {cursor: pointer;}
		.add-assignment input.form-control { width: 20%; }
	</style>
</head>

<body ng-app="Exercise04">

	<div class="container" ng-controller="StudentCalculatorCtrl as c">
		
		<div class="row">
			<div class="col-xs-5">
				<div class="form-group">
					<label class="control-label" for="input-name">Student name</label>
					<input ng-model="c.student.name" type="text" class="form-control" id="input-name" placeholder="">
				</div>
			</div>
		</div>

		<hr>

		<div class="page-header">
			<h1>
				<span ng-bind="c.student.name"></span>
				<br>
				<small>Student Information</small>
			</h1>
		</div>

		<div class="add-assignment form-inline">
			<input ng-model="c.tempAssignment.name" type="text" class="form-control" id="input-assignment" placeholder="Assignment">
			<input ng-model="c.tempAssignment.score" type="number" class="form-control" id="input-score" placeholder="Score">
			<button ng-click="c.onAddAssignment(c.tempAssignment)" type="submit" class="btn btn-default">Add</button>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-6">
				<h3>Assignments</h3>

				<table class="table table-bordered">
					
					<thead>
						<tr class="active">
							<th>Assignment name</th>
							<th class="text-right">Score</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="assignment in c.student.assignments">
							<td>
								<span ng-bind="assignment.name"></span>
								<a ng-click="c.student.removeAssignment(assignment)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
							</td>
							<td ng-bind="assignment.score" class="text-right"></td>
						</tr>
					</tbody>

				</table>
			</div>


			<div class="col-xs-6">
				<h3>Stats</h3>
				<table class="table table-bordered">
					
					<tbody>
						<tr>
							<th class="active">Average</th>
							<td ng-bind="c.student.average" class="text-right"></td>
						</tr>

						<tr>
							<th class="active">Grade</th>
							<td ng-bind="c.student.grade" class="text-right"></td>
						</tr>

						<tr>
							<th class="active">Passed</th>
							<td ng-bind="c.student.passed ? 'Yes' : 'No'" class="text-right"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>



	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
	<script src="services.js"></script>
	<script src="app.js"></script>
</body>
</html>