<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Basic Directives &amp; Data Binding</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-app="Exercise00">


	<div class="container" ng-controller="ControllerDemoCtrl">
		
		<h3>{{greeting}}</h3>

	</div>

	<hr>

	<div class="container" ng-controller="ControllerDemoCtrl as ctrl">
		
		<h3>{{ctrl.greeting}}</h3>

	</div>


	<hr>

	<div class="container" ng-controller="ControllerDemoCtrl as ctrl">
		
		<h3 ng-bind="ctrl.greeting"></h3>
		<h3 ng-bind="greeting"></h3>

		<h4>People (ng-repeat)</h4>
		<ul>
			<li ng-repeat="person in ctrl.people">
				<span ng-bind="person.name"></span>
			</li>
		</ul>

	</div>

	<hr>

	<div class="container" ng-controller="ModelDemoCtrl as ctrl">
		
		<div class="form-group">
			<label for="">Name:</label>
			<input type="text" class="form-control" ng-model="ctrl.name">
		</div>

		<p>
			Your name is:
			<strong ng-bind="ctrl.name"></strong>
		</p>

	</div>

	<hr>

	<div class="container" ng-controller="ModelDemoCtrl as ctrl">
		
		<div class="form-group">
			<label for="">Input:</label>
			<input type="text" class="form-control" ng-model="ctrl.name">
			<input type="text" class="form-control" readonly ng-value="ctrl.mirrorLength()">
		</div>

	</div>

	<hr>

	<div class="container" ng-controller="ModelDemoCtrl as ctrl">
		
		<div class="radio">
			<label>
				<input type="radio" name="group1" value="largeBurger" ng-model="ctrl.selection">
				Burger (value: largeBurger)
			</label>
		</div>

		<div class="radio">
			<label>
				<input type="radio" name="group1" value="smallSushi" ng-model="ctrl.selection">
				Sushi (value: smallSushi)
			</label>
		</div>

		<div class="radio">
			<label>
				<input type="radio" name="group1" value="mediumTacos" ng-model="ctrl.selection">
				Tacos (value: mediumTacos)
			</label>
		</div>

		<p>
			Your selection is:
			<strong ng-bind="ctrl.selection"></strong>
		</p>

	</div>


	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>


<!-- 



 -->