<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ngResource Best Practices</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
	<style>
		body{ margin: 30px 0; }

		.box {
			float: left;
			padding: 1em;
			border-radius: 5px;
			border: 1px solid #ddd;
			box-shadow: 0 1px 5px rgba(0,0,0,0.2);
			width: 18%;
			font-size: 0.8em;
		}
		.arrow {
			float: left;
			font-size: 35px;
			height: 150px;
			color: #999;
			padding: 20px 5px;
		}
		.diagram {
			overflow: hidden;
			padding: 20px 5px;
		}
	</style>
</head>

<body ng-app="Exercise07">

	<div class="container" ng-controller="MainCtrl as ctrl">
		<h2>
			ngResource Best Practices 
		</h2>
		<ol>
			<li>Create a factory for every API call</li>
			<li>Create a service for each factory</li>
			<li>Create another service for the main controller for each factory service</li>
		</ol>

		<div class="diagram">
			<div class="box">
				<h5>Factory</h5>
				<p>It only makes the API call and passes the response as it received it.</p>
			</div>
			<div class="arrow">&#8594;</div>
			<div class="box">
				<h5>Factory Service</h5>
				<p>Handles the response form the Resource Factory. If there's an error this service would return a nice user friendly error message.</p>
			</div>
			<div class="arrow">&#8594;</div>
			<div class="box">
				<h5>Main Controller Service</h5>
				<p>Formats and sanitize the parameters to be passed to the Factory service. Also, process and formats the response to make it easy on the Main Controller.</p>
			</div>
			<div class="arrow">&#8594;</div>
			<div class="box">
				<h5>Main Controller</h5>
				<p>Responsible for the view. Handles the user events and passes the user's input to the Main Controller Service, as is.</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label for="input-address">Address</label>
					<input type="text" class="form-control" 
						ng-model="ctrl.address" 
						ng-change="ctrl.onAddressChange(ctrl.address)"
						ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 400, 'blur': 0 } }"
					>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p>Results for “<span ng-bind="ctrl.address"></span>”</p>
				<ul>
					<li ng-repeat="address in ctrl.addresses">
						<span ng-bind="address.formatted_address"></span>
					</li>
				</ul>
			</div>
		</div>
		
	</div>





	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-resource.min.js"></script>
	<script src="app.js"></script>
</body>
</html>